@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

.header__title {
    margin:2rem 0;
    text-align: center;
    font-weight: 600;
    font-family: 'Niconne', cursive;
    color: var(--color-primary-dark);
    text-shadow: 6px 6px 0px var(--color-primary)             
}

.large {
    font-size: var(--font-size-large);
}

.small {
    font-size: var(--font-size-small);
}
